[Desktop Entry]
Version=1.0
Type=Application
Name=View3D
GenericName=3D Model Viewer
Comment=
Exec=/usr/local/bin/v3d %F
Terminal=false
Categories=Graphics
MimeType=text/plain;
StartupNotify=true

